@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: url(./image/PapyrusBackgroundImage.jpg);
}

.title {
  font-family: "Caesar Dressing", cursive;
  text-align: center;
  font-size: 80px;
  padding: 20px;
  transition: 2s;
}

.userControl {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}

.transcrypt {
  opacity: 1;
}
.decrypt {
  opacity: 1;
}

div .transcrypt div .decrypt {
  display: flex;
  flex-direction: column;
  /* width: 100px; */
}

.description__containter {
  display: flex;
  flex-grow: 1;
  margin: 10px 70px;
  font-size: 22px;
  font-weight: 600;
  padding: 5px;
  text-align: justify;
  line-height: 32px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.5);
}

.user-input {
  text-align: center;
  font-size: 25px;
  opacity: 1;
  transition: 0s;
}

label {
  font-weight: 600;
  padding: 15px;
}
.input,
.inputDecryption {
  margin: 15px 0;
  font-size: 25px;
  font-style: italic;
  padding: 5px;
}
.transcrypt-button,
.decrypt-button,
.transcrypt-clear,
.decrypt-clear {
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  border: 4px solid black;
  margin: 10px;
}

.transcrypted-input {
  opacity: 1;
  transition: 0s;
}

h2 {
  text-align: center;
}

.containerTranscription,
.containerDecryption {
  /* margin: 10px 300px; */
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  padding: 10px;
}

.cursor {
  opacity: 0;
  transition: 0.2s;
}

.cursor.active {
  opacity: 1;
}

@media (max-width: 420px) {
  .description__containter {
    display: flex;
    flex-grow: 1;
    margin: 10px 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 15px;
  }
  .title {
    font-size: 50px;
    padding: 10px;
    transition: 2s;
  }

  .user-input {
    font-size: 15px;
    opacity: 1;
    transition: 0s;
    display: flex;
    flex-direction: column;
  }
  .transcrypt-button,
  .decrypt-button,
  .transcrypt-clear,
  .decrypt-clear {
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    border-radius: 20px;
    border: 4px solid black;
    margin: 12px;
  }
  h2 {
    margin:15px;
    font-size: 15px;
  }
  .input,
  .inputDecryption {
    margin: 5px 0;
    font-size: 15px;
    padding: 4px;
  }
  #form.user-input__input {
height: 200px;
  }
}

@media (max-height:420px){
  .description__containter {
    display: flex;
    flex-grow: 1;
    margin: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
  }
  .title {
    font-size: 40px;
    padding: 5px;
    transition: 2s;
  }

  .user-input {
    font-size: 12px;
    opacity: 1;
    transition: 0s;
    display: flex;
    flex-direction: column;
  }
  .transcrypt-button,
  .decrypt-button,
  .transcrypt-clear,
  .decrypt-clear {
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    border-radius: 20px;
    border: 4px solid black;
    margin: 2px;
  }
  h2 {
    margin:5px;
    font-size: 12px;
  }
  .input,
  .inputDecryption {
    margin: 5px 0;
    font-size: 15px;
    padding: 4px;
  }
  #form.user-input__input {
height: 90px;
  }
  .containerTranscription,
.containerDecryption {
  font-size: 14px;
  padding: 5px;
}
}